html, body{
    padding: 0;
    margin: 0;
}
body{
    background: #9e957ba6;
}
.container{
    width: 80%;
    margin: auto;
}
#indexHome{
    height: 400px;
    margin-top: -5px;
    background: url('img/food-horoscopes-2018.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20px;
}
.cont-1{
    margin-top: 20px; 
    width: 60%;
    float: left;
    position: relative;

    padding: 10px;
}
.cont-2{
    width: 35%;
    float: right;
    position: relative;
    margin-top: -30px;
    padding-left: 5px;
}
.form-sp{
    padding: 10px;
    margin-top: 10px;
}
.cont-sidebar{
    background: #222;
    min-height: 200px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 100px; 
    color: antiquewhite;
    padding: 10px;
    position: relative;
}
.cont-center{
    background: #222;
    min-height: 200px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 100px; 
    color: antiquewhite;
    padding: 10px;
    position: relative;
    float: left;
}
/*------------------------------------------homepage------------*/
#categories{
    margin-top: 30px;
}
#categories h4{
    text-align: center;
}
/*
admin page
*/
.admin{
    margin-top: 10px;
}
/*--------------------------------------------------------------------------------------------------------*/
#div1 {
    width: 190px;
    float: left;
    background-color: rgb(48, 45, 45);
    margin-right:10px;
    padding: 5px;
    min-height: 400px;
}
#div1 h3{
    color: #ffffff;
    text-align: center; 
}
#div1 .profile h4{
    color: #ffffff;
    font-size: 14px;
    text-align: center; 
}
#div1 .profile button{
    background: red;
    font-size: 14px;
    margin-left: auto;
	margin-right: auto;
    display: block;
}
#div1 img{
    width: 100px;
    margin-left: auto;
	margin-right: auto;
    display: block;
    border-radius: 50%;
}
/*--------------------------------------------------------------------------------------------------------*/
#div2 {
    width: 500px;
    float: left;
    background-color:rgb(127, 157, 182);
    margin-right:10px;
    padding: 5px;
}
#div2 .activitybanner{
    background: rgb(117, 84, 22);
    height: 40px;
    line-height: 40px;
    color: #222;
    text-align: center; 
    margin-top: -22px;

}
.activiyItemAdd{
    height: 30px;
    margin: 2px;
    border: 1px solid #222;
    text-align: center;
    padding-bottom: 10px; 
}
.activiyItem{
    height: 80px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #222;
}
.activiyItem img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.activiyItem .activityItemContent{
    margin-top: -90px;
    margin-left: 100px;
}
.activiyItem .activityItemContent p{
    margin-top: -20px;
}
.activiyItem .time{
    
}
.itemAction{
    margin-top: -20px;
    float: right;
}
.itemAction button{
    height: 80px;
    margin-top: -52px;
    float: right;
    background: rgba(240, 130, 5, 0.247);
}
/*--------------------------------------------------------------------------------------------------------*/
#div3 {
    width: 300px;
    float: left;
    background-color:green;
    margin-right:10px;
    padding: 5px;
    margin-top: -22px;
}
#div3 .activitybanner{
    background: rgb(117, 84, 22);
    height: 40px;
    line-height: 40px;
    color: #222;
    text-align: center; 
    margin-top: -22px;

}